<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Spring MVC and Velocity</title>
</head>
<body>
<h1>Spring MVC and Velocity</h1>

    $screen_content

<hr />
Copyright &copy 2016 lm

</body>

</html>